/*font-family: "Roboto", sans-serif;*/
/*font-family: "Raleway", sans-serif;*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,ol 
{
    list-style-type: none;
}

a {
    text-decoration: none;
}
.container {
    max-width: 1158;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.page-header {
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
   
}
.nav-list {
    display: flex;
    gap: 40px;
   
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.header-logo .logo-part {
   color: #2E2F42;

}

.nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
   color: #404BBF;
}

.contacts-list {
    display: flex;
    gap: 40px;
}
.contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

/*SECTION-1*/
.hero-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.header {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        text-align: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
}

.main-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
/*end-SECTION-1*/

/*SECTION-2*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.first-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
 .list-hiden {
    display: flex;
    gap: 24px;
 }
.future-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;;
    margin-bottom: 8px;
    text-align: center;
}
.future-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
    margin-bottom: 8px;
    text-align: center;
}
/*3-section*/
.team-section{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title {
    font-weight: 700;
        font-size: 36px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.list-our-team {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
}
.team-card {
    background-color: #fff;
    flex-basis: calc((100% - 3 * 24px) / 4);
}
/*3-endsection*/
/*4-section*/
.our-section {
    padding-bottom: 120px;
    padding-top: 120px;
}
.our-portfolio-list {
        display: flex;
            flex-wrap: wrap;
            gap: 24px;
            padding: 0;
            margin: 0;
            list-style: none;
        }
.portfolio-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex-basis: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

/*4-end-section*/
/*footer*/

.footer-page {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-cub {
    display: flex;
    align-items: baseline;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo {
    margin-right: 76px;
}
.logo-part {
    color: #f4f4fd;
}

/*-end-footer*/